.input{
    width: 100%; 
    padding: 10px;
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    font-size: large;
}

#time{
    width: 18.5em;
    margin-left: 1.5em;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #ddd;  */
}

.formImg{
    height: 50rem;
    width: 30rem;
}

.form-container{
    margin-bottom: 30rem;
}

#img6{
    object-fit: cover;
    height: 50rem;
    width: 30rem;
}