.action-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
  }
  
  .action-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    outline: none;

  }
  
  .update-button {
    background-color: #4CAF50; 
  }
  
  .delete-button {
    background-color:#4CAF50; 
  }
  
  .partial-update-button {
    background-color: #4CAF50; 
  }
  
  .action-buttons button:hover {
    opacity: 0.8;
  }

  .main-container{
    display: flex;
    flex-direction: column;
   
  }

  .lowerContent{
    margin-left:5em ;
    margin-right: 5em;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
  }



  .action-buttons{
    margin-bottom: 5rem;
    margin-top: 5rem;
  }



  .img5{
    object-fit: cover;
    height: 30rem;
    width: 30rem;
    margin-right: 3rem;
  }

  #update{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }